@using ShowCaseToDo.Models
@implements IDialogContentComponent<Item>
@namespace ShowCaseToDo
<FluentDialogHeader></FluentDialogHeader>

<FluentDialogBody>
    <FluentStack Orientation="Orientation.Vertical" VerticalGap="10">
        <FluentStack class="@(Content.Styles.BackGroundClass)" Style="padding:1em 3em 1em 0" Orientation="Orientation.Horizontal" VerticalGap="10" HorizontalAlignment="HorizontalAlignment.Right">
            <FluentIcon Value="@Content.Styles.Icon"></FluentIcon>
            <H3>@Content.Status.ToString()</H3>
        </FluentStack>
            <FluentTextField @bind-Value="@Content.Title">Task Title:</FluentTextField>

        <FluentTextArea Rows="8" Cols="80" @bind-Value="@Content.Details">Task Details:</FluentTextArea>
    </FluentStack>
</FluentDialogBody>

<FluentDialogFooter Visible="false"></FluentDialogFooter>

@code {
    [Parameter]
    public Item Content { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog? Dialog { get; set; }

    private void ToggleDialogPrimaryActionButton(bool enable)
    {
        Dialog!.TogglePrimaryActionButton(enable);
    }
    

}